   header{
         background: #3600b3;
 }

 nav li {
     display: inline;
     margin: 0 0 0 15px;
 }
   
 nav a {
    text-transform: uppercase;
    color: #3600b3;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
 }
   
   
   
   
   
   
   
   
   
body{
    text-align: center;
  }
